 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 .container {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #ecf0f3;
    justify-content: center;
    align-items: center;
 }

.calculator {
    display: grid;
    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 15px;
    box-shadow: inset 5px 5px 12px #fff, 5px 5px 12px rgba(0,0,0,.16);
    grid-template-columns: repeat(4, 50px);
}

input {
    grid-column: span 4;
    height: 70px;
    width: 200px;
    background-color: #0b0f13;
    outline: none;
    border: none;
    box-shadow: inset -5px -5px 12px rgb(0, 177, 0), inset 5px 5px 12px rgba(67, 0, 250, 0.16);
    border-radius: 30px;
}